.btn-secondary {
  border: 2px solid #494242;
  color: black;
  width: 128px;
  height: 52px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.btn-danger {
  border: none;
  background-color: #c90000;
  color: white;
  width: 128px;
  height: 52px;
  border-radius: 10px;
  cursor: pointer;
}
