.landing {
  height: 100vh;
  width: 100%;
  background-image: url("../../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles {
  width: 100%;
  padding: 3vh 8vw;
  overflow-x: hidden;
}
